.ui.search .prompt {
    padding: 8px 16px 4px!important;
    line-height: 1!important;
    width: 30%;
    color: #ffffff;
    background-color: transparent;
    font-size: 32px!important;
    border: none;
    border-bottom: 2px solid #fff;
    text-align: center;
    outline: none;
}

.ui.search .prompt::placeholder {
    color: white;
}

.countUpSection,
.promotionWrapper {
    width: 100vw;
    margin: 0 auto;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}



@media only screen and (max-width: 767px) {
    .promotionWrapper {
        background-image: url(../../static/assets/claude-monet-nympheas.jpg);
        background-size: cover;
        opacity: 0.9;
    }
}

@media only screen and (min-width: 767px) {
    .promotionWrapper {
        background-image: url(../../static/assets/claude-monet-nympheas.jpg);
        background-size: cover;
        opacity: 0.9;
    }
}

.promotionWrapper .promotionTable {
    display: table;
    height: 403px;
    width: 100%
}

.promotionWrapper .promotionTable .promotionTableInner {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

.promotionWrapper .promotionTable .promotionTableInner .promotionInfo {
    text-align: center
}

.promotionWrapper .promotionTable .promotionTableInner .promotionInfo span {
    line-height: 21px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px
}

.promotionWrapper .promotionTable .promotionTableInner .promotionInfo h2 {
    font-size: 26px;
    line-height: 33px;
    color: #fff;
    margin: 10px 0 40px
}

.promotionWrapper .promotionTable .promotionTableInner .promotionInfo .rating li {
    color: #fec701;
    padding: 0
}

.promotionWrapper .promotionTable .promotionTableInner .promotionInfo p {
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 20px;
    color: #fff
}

.promotionWrapper .promotionTable .promotionTableInner .promotionInfo .buttonCustomPrimary {
    padding: 0 16px
}